.navbar-main{
height: 100px;
display:  flex  ;
}


.name{
  font-weight: 900;
  font-size: 22px;
  color: #46A358;
}
.container_1{
  padding-top: 30px;
  display: flex;
  padding-left: 120px;

}

.button_container{
  padding-left: 300px;
  padding-right: 400px;
}

.button_container a {
  font-size: 20px;
  margin-left: 50px;
  text-decoration: none
}
a{
  color: #3D3D3D;
}


a:visited {
  color: rgb(0, 0, 0);
}



.sb_container img{
padding-left: 10px;
}

.logo{
  position: relative;
  top: -7px; 
  left: -10px;
  height: 40px;
  width: 40px;
}

.login_button{
  display: flex;
  margin-left: 30px;
  color: white;
  height: 35px;
  width: 100px;
  border-radius: 6px;
  border: none;
  background-color: #46A358;
}

.login_button img{
  
  padding: 6px;
  padding-left: 10px;

}

.login_button p{
  margin: 8px;
  margin-left: 0px;
}